body {
   margin: 0;
}

* {
   box-sizing: border-box;
}

h1 {
   height: 12vh;
   font-size: 60px;
   font-weight: 30;
   margin: 0px 0px 30px;
   background-image: linear-gradient(45deg, #f3ec78, #db3434);
   background-size: 100%;
   -webkit-background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
}

.navbar {
   height: 12vh;
   background-color: black;
   display: flex;
}

.ticket-container {
   height: 88vh;
   background-color: rgba(248, 242, 190, 0.493);
   position: relative;
   padding: 3rem;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   overflow-y: auto;
}

.filter-container, .add-delete-container {
   height: 8vh;
   margin-top: 2vh;
   border-radius: 3px;
   background-color: cornflowerblue;
}

.add-delete-container, h1 {
   margin-left: 13vw;
}

.filter-container {
   width: 18vw;
   display: flex;
   margin-left: 8vw;
}

.add-delete-container {
   width: 9vw;
   display: flex;
}

.filter {
   height: 100%;
   width: 25%;
}

.pink-color-btn, .blue-color-btn, .green-color-btn, .bisque-color-btn {
   display: block;
   width: 40%;
   height: 40%;
   border-radius: 3px;
   margin-top: calc(8vh * 0.3);
   margin-bottom: calc(8vh * 0.3);
   margin-left: calc(4.5vw * 0.3);
   margin-right: calc(4.5vw * 0.3);
}

.pink-color-btn, .modal-pink-filter, .ticket-color-pink {
   background-color: pink;
}

.blue-color-btn, .modal-blue-filter, .ticket-color-blue {
   background-color: blue;
}

.green-color-btn, .modal-green-filter, .ticket-color-green {
   background-color: green;
}

.bisque-color-btn, .modal-bisque-color-filter, .ticket-color-bisque {
   background-color: red;
}

.filter:hover {
   background-color: aliceblue;
   cursor: pointer;
}

.filter.active {
   background-color: black;
}

.add, .delete {
   height: 100%;
   width: 50%;
}

.action-btn {
   display: block;
   height: 40%;
   width: 40%;
   margin-top: calc(8vh * 0.3);
   margin-bottom: calc(8vh * 0.3);
   margin-left: calc(4.5vw * 0.3);
   margin-right: calc(4.5vw * 0.3);
   background-color: white;
   padding-right: 35%;
   padding-bottom: 40%;
}

.add:hover, .delete:hover {
   background-color: lightgrey;
   cursor: pointer;
}

.modal {
   box-shadow: -7px 7px 5px 5px gray;
   height: 15rem;
   width: 28rem;
   background-color: white;
   display: flex;
   position: absolute;
   top: 6.5rem;
   left: calc((100vw - 28rem) / 2);
}

.task-to-be-added {
   width: 70%;
   height: 100%;
   padding: 3rem;
   outline: none;
   overflow: auto;
}

.modal-priority-list {
   display: flex;
   flex-direction: column;
   width: 30%;
   height: 100%;
   justify-content: space-between;
   padding: 3rem;
   background-color: grey;
}

.modal-filter {
   height: 20%;
   width: 100%;
}

.modal-filter:hover {
   opacity: 0.5;
   cursor: pointer;
}

.modal-filter.active {
   border: 3px solid;
}

.ticket {
   height: 9rem;
   width: 14rem;
   background-color: aliceblue;
   margin-bottom: 15px;
}

.ticket-color {
   height: 6%;
   width: 100%;
}

.ticket-id {
   height: 15%;
   width: 100%;
   padding: 3%;
   color: grey;
}

.task {
   height: 79%;
   width: 100%;
   padding: 3%;
}

.ticket.active {
   box-shadow: 0 0 3px 1px;
}